$spacing: (
    'xs': 0.25rem,
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 2rem,
    'xl': 4rem,
);

@each $key, $value in $spacing {
    .m-#{$key} {
        margin: $value;
    }
    .p-#{$key} {
        padding: $value;
    }
}